*.obj
*.o
*.exe
*.o.d
Debug/**
Release/**
.codelite/**
.codelite
/4MbToMidnight/x64
/.vs/4MbToMidnight/v16
/4MbToMidnight/.vs/**
/4MbToMidnight/.vs/4MbToMidnight/v16/ipch/AutoPCH/11251650a97b1a1c/ENTITY.ipch
/4MbToMidnight/.vs/4MbToMidnight/v16/ipch/AutoPCH/5b75f87a101ee4b1/SOUNDMANAGER.ipch
/4MbToMidnight/.vs/4MbToMidnight/v16/ipch/AutoPCH/5b1859df165d77d1/GLAD.ipch
/4MbToMidnight/.vs/4MbToMidnight/v16/ipch/AutoPCH/244678bdc1c01e9e/PLAYER.ipch
/4MbToMidnight/.vs/4MbToMidnight/v16/ipch/AutoPCH/9d10e82f7b4d6a95/ZOMBIE.ipch
/4MbToMidnight/.vs/4MbToMidnight/v16/Browse.VC.opendb
/4MbToMidnight/.vs/4MbToMidnight/v16/Browse.VC.db-wal
/4MbToMidnight/.vs/4MbToMidnight/v16/Browse.VC.db-shm

.vs/**
.vs

Release
Release/*

4MbToMidnight/x64
4MbToMidnight/x64/**

4MbToMidnight/Saves
4MbToMidnight/Saves/**

4MbToMidnight/Resources
4MbToMidnight/Resources/**

**/.cmake
**/.cmake/**

include/glm/out
include/glm/out/**

4MbToMidnight/.vs
4MbToMidnight/.vs/**